
a {
    text-decoration: none;
}

.container {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
}

.action-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    margin-bottom: 20px;

    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    height: 40px;
    width: 600px;
    margin-bottom: 20px;

    background: white;
    border-radius: 20px;
    border: none;
    padding: 0 20px;
    box-sizing: border-box;

    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 16px;
}

.get-btn {
    height: 40px;
    width: 100px;

    background: white;
    border-radius: 20px;
    border: none;
    cursor:pointer;

    color: #1C395C;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: center;
}

.get-btn:hover {
    background: #FF6C00;
    color: white;
}
