{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/converter.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="wrapper">
            <div class="action-box">
                <div class="description">
                    Past your Playlist URL
                </div>
                <form class="form" action="/get-youtube-playlist">
                    <input class="field" type="text" id="playlist_url" name="playlist_url" placeholder="Playlist URL" required>
                    <input class="get-btn" type="submit" value="Get">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
