{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/converter.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="wrapper">
            <div class="action-box">
                <a href="/auth-spotify"><div class="get-btn">Connect</div></a>
            </div>
        </div>
    </div>
{% endblock %}
